@font-face {
  font-family: gothammed;
  src: url(../fonts/gotham/GothamMedium.ttf);
}
@font-face {
  font-family: gothamlight;
  src: url(../fonts/gotham/Gotham-Light.otf);
}
@font-face {
  font-family: gothambold;
  src: url(../fonts/gotham/Gotham-Bold.otf);
}
body{
  background-color: #0f0000;
}
#bgimg1{
  margin-top: 0%;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  background-image: url(../image/bg4.jpg);
  height: 100em;
}
#titlediv{
  margin-top: 0%;
  width: 100%;
  text-align: center;
  
  
}
#potofolioline{
  color:white;
  font-family: gothamlight;
  padding-top: 20%;
  margin-bottom: 0%;
  font-size: 80%;
  
}
#boldengg{
  font-family: gothammed;
  font-size: 140%;
}
#titlename{
  font-family: gothambold;
  color: rgb(255, 111, 0);
  margin-bottom: 0%;
  margin-top: 0%;
  
  font-size: 348%;
}

.bday{
  font-size: 20px;
  margin-top: 0%;
  color: white;
  font-family: gothammed;
  /* margin-top: -5%; */
}
#mainback{
  width: 100%;
}