@font-face {
    font-family: lugg;
    src: url(../fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}
@font-face {
    font-family: goth;
    src: url(../fonts/gotham/Gotham-Bold.otf);
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
}
#mynav{
    background-color:  rgba(218, 218, 204,1);
    position: sticky;
    top: 0%;
}
#mynavskill{
    background-color: #E6E4E5;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#mybg{
    height: 100%;

    background-size:cover;
    background-repeat: no-repeat;
    background-color: #E6E4E5;
    background-position: 25%;
}
header{
    background-color: rgb(218, 218, 204);
    position: sticky;
}
#mylogo{
    color: #656446;
    font-size: 180%;
    font-family: lugg;
    text-align: left;
}

a[href^="#mydit"] {
    color: #aba1a2;
}
a[href^="#mydit"]:hover{
    color: #3f3e1f;
}
a[href^="#mydit"]:active {
    color: #3f3e1f;
}
a[href^="#mydit"]:focus {
    color: #3f3e1f;
}
a[href^="#mydit"]:visited{
    color: #aba1a2;
}
/* color: #3f3e1f */
#mydit{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: right;
}
.myengg{
    color: olive;
    font-size: 150%;
    font-family:goth;
    
    text-transform: uppercase;
    text-align:right ;
    white-space: nowrap;
}
.myengg2{
    color: olive;
    font-size: 150%;
    font-family:goth;
    
    text-transform: uppercase;
    text-align:right ;
    margin-top: 5%;
    margin-bottom: 10%;
}

#myname{
    color: #504F0F;
    font-size: 400%;
    font-family: poppins;
    text-align: center;
    text-transform: uppercase;
    text-align: right;
}